<ul id="popular-topics">
	<% @popular.each do |topic| %>
	    <li class="topic tag">
	    	<%= topic.name %>
	    	<%= link_to add_topic_path(topic) do %>
				<i class="fa fa-plus pull-right"></i>
			<% end %>
	    </li>
	<% end %>
</ul>